

.nav-bar{
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  padding: 20px;

}
.nav-bar ul {

list-style: none;

}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: aqua;
text-align: center;
padding: 20px;
margin: 20px;
}